[submodule "layers/zilongshanren-tomtsang/utils/manaul-install/xeu_elisp_util.el"]
	path = layers/zilongshanren-tomtsang/utils/manaul-install/xeu_elisp_util.el
	url = https://github.com/xahlee/xeu_elisp_util.el
